*{
    color: white;
    
    
}

.stars{
    width: 100%;
    height: 100%;
    padding:20px;
    background-image: url("https://img.freepik.com/premium-photo/space-background-with-realistic-nebula-shining-stars-colorful-cosmos-with-stardust-milky-way-magic-color-galaxy-infinite-universe-starry-night-illustration_294865-8535.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}

.container{
    width: 80vw;
}

.name{
    padding: 50px;
    max-width: max-content;
    margin: auto;
    font-size: 30px;
}



.stack{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: auto auto;
    gap: 20px;
    width: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 110px;

}

.stack img{
    width: 50px;

}
