*{
    color: white;
    background-image: url("https://img.freepik.com/premium-photo/space-background-with-realistic-nebula-shining-stars-colorful-cosmos-with-stardust-milky-way-magic-color-galaxy-infinite-universe-starry-night-illustration_294865-8535.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center center;
}

.name{
    padding: 50px;
    max-width: max-content;
    margin: auto;
    font-size: larger;
}

.stack{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: auto auto;
    gap: 20px;
    width: 90%;
    padding: 30px;
    margin-left: 30px;

}

.stack img{
    width: 50px;

}
