.container{
    border: 2px solid #c4c4d5;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    color: white;
    padding: 20px;
}

.pic img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}


.card{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.text{
    font-size: 30px;
    word-wrap: normal;
}

.readme > p{
    padding: 0 30px;
    
}

