.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid rgba(197, 186, 186, 0.35);
    background: #000;
    width: max-content;
    margin: auto;
    margin-top: 30px;
    height: 80vh;
    padding: 20px;
}



.flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


input{
    background-color: #31323291;
    padding: 5px;
    border: none;
    width: 400px;
}

.alert{
    background-color: blue;
    position: absolute;
    width: 90px;
    height: 40px;
    bottom: 80px;
    left: 48%;
    color: rgb(0, 255, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 20px;

}

.error{
    color: red;
    width: max-content;
    margin: auto;
}


