
nav{
    background-color: rgba(196, 209, 247, 0.717);
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

.header{
    top: 15px;
    position: sticky;
    padding: 0px 7px;
}

ul{
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
}

ul li {
    list-style: none;
    color: black;
    padding: 5px;
}

ul a{
   color: black; 
   text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    /* color: rgb(212, 15, 81); */
    animation: click 1s ease-in-out 0s infinite;
    
}

.anchor{
    
    text-decoration: none;
}

.main{
    margin-top: 30px;
}

@keyframes click {
    0%{
        
    }

    100%{
        
        background-color: rgb(20, 172, 33);
    }
    
}