*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(78, 12, 40);
}

.containerapp{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 30px;
}